/* ./styles/globals.css */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.overlay {
  text-align: center;
  color: white;
  font-family: "Press Stat 2P", "VT323";
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

/* The recommended way of adding a gif as a background to the page is, by adding multiple small layers and not a whole large gif for performance purposes, so,
 * @TODO: make the gif into multiple moving image layers 
 */
.moving-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/background/parallax-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40% 40%;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexBetweenStart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flexCenterStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}